<div class="games-list-container">

  <!-- Header con título y botón Crear -->
  <div class="header">
    <h1>Juegos Publicados</h1>
    <button class="btn-crear" (click)="crear()">+ Crear juego</button>
  </div>

  <!-- Botón para volver al dashboard -->
  <button class="btn-volver" (click)="regresar()">Dashboard</button>

  <!-- Input de búsqueda -->
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Buscar juegos..."
      (input)="searchGames()"
    />
  </div>

  <!-- Mostrar loading mientras se cargan datos -->
  <div *ngIf="isLoading" class="loading">Cargando juegos...</div>

  <!-- Mostrar mensaje de error si ocurre algo -->
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <!-- Tabla de juegos -->
  <div class="table-container">
    <table *ngIf="!isLoading && filteredGames.length > 0" class="tabla">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Instrucciones</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let g of pagedGames">

          <!-- Nombre -->
          <td>{{ g.name }}</td>

          <!-- Categoría -->
          <td class="capitalize">{{ g.category }}</td>

          <!-- Instrucciones-->
          <td>
            <span *ngIf="g.instructions; else noInstructions">
              {{ g.instructions.substring(0, 40) }}...
            </span>
            <ng-template #noInstructions>Sin instrucciones</ng-template>
          </td>

          <!-- Acciones -->
          <td class="acciones">
            <div class="action-buttons">
              <button class="btn-action btn-edit" (click)="editar(g)">Editar</button>
              <button class="btn-action btn-delete" (click)="eliminar(g)">Eliminar</button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <app-pagination
    [totalItems]="filteredGames.length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)">
  </app-pagination>


  <!-- Mensaje si no hay juegos -->
  <div *ngIf="!isLoading && filteredGames.length === 0" class="empty">
    No hay juegos creados.
  </div>

</div>
