<footer>
  <div class="footer-container">
    <div class="footer-card">

      <div class="card-body">

        <div class="info-section">
          <div class="brand-header">
            <span class="blue-dot"></span>
            <h2>ECONOWORLD</h2>
          </div>

          <div class="contact-grid">
            <p><strong>Correo:</strong> liid_utpl.edu.ec &nbsp; <strong>Teléfono:</strong> Ext: 2851</p>
            <p><strong>Dirección:</strong> Edificio 9, Tercera Planta Alta Campus UTPL - París s/n y Praga</p>
          </div>

          <div class="social-links-row">
            <a href="https://www.instagram.com/liid_utpl/"><img src="assets/images/instagram2.png" alt="Instagram"></a>
            <a href="https://www.youtube.com/@laboratoriodeinnovacionein9121/videos"><img src="assets/images/youtube.png" alt="YouTube"></a>
            <a href="https://www.facebook.com/LiiDUTPL/"><img src="assets/images/facebook.png" alt="Facebook"></a>
            <a href="https://x.com/liid_utpl"><img src="assets/images/gorjeo2.png" alt="Twitter"></a>
          </div>
        </div>

        <div class="resources-section">
          <h3>RECURSOS</h3>
          <ul>
            <li><a href="https://ascendere.utpl.edu.ec/">> Ascendere UTPL</a></li>
            <li><a href="https://utpl.edu.ec/">> UTPL</a></li>
          </ul>
        </div>

        <div class="liidfooter">
          <img src="assets/images/liidfooter.png" alt="">
        </div>
      </div>

      <div class="card-footer-yellow">
        <div class="yellow-left">
          UNIVERSIDAD TÉCNICA PARTICULAR DE LOJA | Prototipo desarrollado por el LiiD
        </div>
        <div class="yellow-right">
          LIID | UTPL {{currentYear}}
        </div>
      </div>

    </div>
  </div>
</footer>
