<div class="admin-container">
    <!-- Botón para regresar al inicio -->
    <a routerLink="/" class="volver-inicio">
      <button mat-button class="btn-azul" type="button">Regresar al inicio</button>
    </a>
  <h1>Crear Noticia</h1>
  <form class="admin-form">
    <div class="form-section">
      <label>Título de la Noticia *</label>
      <input type="text" placeholder="Título de la Noticia..." />
    </div>
    <div class="form-section">
      <label>Categoría *</label>
      <select>
        <option>Seleccione la categoría...</option>
      </select>
    </div>
    <div class="form-section">
      <label>Multimedia *</label>
      <input type="file" />
    </div>
    <div class="form-section">
      <label>Multimedia Adicional</label>
      <input type="file" />
    </div>
    <div class="form-section">
      <label>Cuerpo de la Noticia *</label>
      <textarea rows="6" placeholder="Escribe la noticia..."></textarea>
    </div>
    <div class="form-section">
      <label>Etiquetas / Palabras Clave</label>
      <input type="text" placeholder="Insertar input" />
    </div>
    <div class="form-section opciones">
      <label>Opciones Adicionales *</label>
      <div class="checkbox-group">
        <label><input type="checkbox" /> Noticia Destacada</label>
        <label><input type="checkbox" /> Activar Comentarios</label>
        <label><input type="checkbox" /> Añadir Boletín</label>
      </div>
    </div>
    <div class="form-section opciones">
      <label>Estado de la Noticia *</label>
      <div class="checkbox-group">
        <label><input type="checkbox" /> Borrador</label>
        <label><input type="checkbox" /> Programar Publicación</label>
      </div>
    </div>
    <div class="form-buttons">
      <button type="button" class="guardar">Guardar</button>
      <button type="button" class="borrador">Guardar como borrador</button>
      <button type="submit" class="publicar">Publicar</button>
    </div>
  </form>
</div> 