<div class="admin-dashboard">
  <h1>Panel Principal del Administrador</h1>
  <div class="admin-actions">
    <button (click)="goTo('tematicas')">Crear Juego</button>
    <button (click)="goTo('books')">Gestionar Libros</button>
    <button (click)="goTo('news')">Gestionar Noticias</button>
    <button (click)="goTo('videos')">Gestionar Videos</button>
    <button (click)="goTo('play')">Gestionar Juegos</button>
    <button (click)="goTo('data')">Gestionar Data</button>
    <!-- Agrega más botones según las vistas que tengas -->
  </div>
</div> 