<div class="admin-dashboard">
  <h1>Panel Principal del Administrador</h1>
  <div class="admin-actions">
    <button (click)="goTo('tematicas')">Crear Juego</button>
    <button (click)="goTo('econobookadmin')">Gestionar Libros</button>
    <button (click)="goTo('econonewsadmin')">Gestionar Noticias</button>
    <button (click)="goTo('econovidiosadmin')">Gestionar Videos</button>
    <button (click)="goTo('econopleyadmin')">Gestionar Juegos</button>
    <!-- Agrega más botones según las vistas que tengas -->
  </div>
</div> 