<div class="admin-container">
    <!-- Botón para regresar al inicio -->
    <a routerLink="/" class="volver-inicio">
      <button mat-button class="btn-azul" type="button">Regresar al inicio</button>
    </a>
  <h1>Crear Video</h1>
  <form class="admin-form">
    <div class="form-section">
      <label>Título del Video *</label>
      <input type="text" placeholder="Título del Video..." />
    </div>
    <div class="form-section">
      <label>Categoría *</label>
      <select>
        <option>Seleccionar Categoría...</option>
      </select>
    </div>
    <div class="form-section">
      <label>Autor / Canal *</label>
      <input type="text" placeholder="Insertar Editorial..." />
    </div>
    <div class="form-section">
      <label>Fecha *</label>
      <input type="date" />
    </div>
    <div class="form-section">
      <label>Contenido del Video *</label>
      <input type="file" placeholder="Seleccionar archivo..." />
      <input type="text" placeholder="Insertar enlace..." />
    </div>
    <div class="form-section">
      <label>Descripción y Objetivo del video *</label>
      <textarea rows="6" placeholder="Escribe la descripción..."></textarea>
    </div>
    <div class="form-section">
      <label>Temas Económicos Relacionados *</label>
      <input type="text" placeholder="Ej: Inflación, Impuestos..." />
    </div>
    <div class="form-section opciones">
      <label>Visibilidad *</label>
      <div class="checkbox-group">
        <label><input type="checkbox" /> Público</label>
        <label><input type="checkbox" /> Solo estudiantes</label>
        <label><input type="checkbox" /> Interno / Borrador</label>
      </div>
    </div>
    <div class="form-buttons">
      <button type="button" class="guardar">Guardar</button>
      <button type="button" class="borrador">Guardar como borrador</button>
      <button type="submit" class="publicar">Publicar</button>
    </div>
  </form>
</div> 